language: objective-c
osx_image: xcode8
install:
  - carthage bootstrap --no-use-binaries
matrix:
  include:

    # iOS
    - script:
      - >-
        xcodebuild
        build-for-testing test-without-building
        -project Alexander.xcodeproj
        -scheme Alexander-iOS
        -sdk iphonesimulator
        -destination "platform=iOS Simulator,name=iPhone 6s"
        -configuration Release

    # tvOS
    - script:
      - >-
        xcodebuild
        build-for-testing test-without-building
        -project Alexander.xcodeproj
        -scheme Alexander-tvOS
        -sdk appletvsimulator
        -destination "platform=tvOS Simulator,name=Apple TV 1080p"
        -configuration Release

    # macOS
    - script:
      - >-
        xcodebuild
        build test
        -project Alexander.xcodeproj
        -scheme Alexander-macOS
        -sdk macosx
        -destination "arch=x86_64"
        -configuration Release

    # Carthage
    - script:
      - carthage build --no-skip-current
